/* my colours #002476 royal navy blue, real dark blue for main text #0D213B */

body {
  background-color: #ffffff;
  font-family: 'poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #0D213B;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.0em;
  font-weight: 700;
}

h2 {
  font-size: 1.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #ff7f50;
  text-decoration: none;
}

a:visited {
  color: #ff7f50;
}

a:hover, a:focus {
  color: #cc6540;
  text-decoration: underline;
}

a:active {
  color: #994c30;
}

a.project-button {
  color: #0D213B;
  display: block;
  background-color: #fff;
  padding: 80px 15px;
}

a.project-button:hover, a.project-button:focus {
  color: #fff;
  background-color: #737373!important;
  text-decoration: none
}

.container {
  padding: 0 15px;
}

.project .row {
  margin: 0 -15px;
}

.project picture {
  display: block;
  line-height: 0;
}

footer .arrow {
  display: none
}
