/* my colours #002476 royal navy blue for navigation active and get intouch header, real dark blue for main text #0D213B */

*{
  box-sizing: border-box;
}
html {
scroll-behavior: smooth;}

body {
  background-color: #F2F2F2;
  font-family: 'poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #0D213B;
}

header {
  background-color: #fff;
text-align: center;
box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
position: fixed;
width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.0em;
  font-weight: 700;
}

h2 {
  font-size: 1.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.1em;
  font-weight: 500;
}
h4 {
  font-size: 1.1em;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  color: #002476;
  text-decoration: none;
}

a:visited {
  color: #002476;
}

a:hover, a:focus {
  color: #cc6540;
  text-decoration: underline;
}

a:active {
  color: #994c30;
}

a.project-button {
  color: #0D213B;
  display: block;
  background-color: #fff;
  padding: 10px 15px;
}

a.project-button:hover, a.project-button:focus {
  color: #fff;
  background-color: #737373!important;
  text-decoration: none
}

.button {
  display: inline-block;
  background-color: #fff;
  color: #002476;
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 33px;
  border: 2px solid #002476; /* width of the border, type, color */
  transition: 2s opacity;
  margin-bottom: 25px;
}

.button:hover, a.button:focus {
  color: #fff;
  background-color: #737373;
  text-decoration:none;
  border: 2px solid #737373;
  opacity: 0.8
} /* how do i change so it goes from white to dark slowly rather than quickly dark and slowly lighter */

.project picture {
  display: block;
  line-height: 0;
}

.hero span-about{
  font-weight: 700;
}

.hero-text {
  background-color: #071428;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 0px
}
.span-hp {
  padding: 200px 0; /*not working */
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

footer .arrow {
  display: none
}

.logo {
  max-width: 50px;
  text-align: left;
}

main {
  padding-top: 0px;
}
.hero {
  background-color: #fff;
  padding: 10px 0;
  padding-top: 120px;
  display: inline-block;
  width: 100%;
}

.hero span{
  display: block;
  font-size: 15px;
  font-weight: 400;
}

.project-page .hero picture {
  display: flex;
}

footer {
  background-color: #fff;
  padding-top: 10px;
}

.colophon {
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 1px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  padding: 0 7px;
}

nav {
  display: inline-block;
}

.social > ul {
  list-style-type: none;
  padding: 0;
}

.social > ul > li {
  display: inline-block;
  padding: 0 7px;
}

.navon {
  font-weight: 700;
}

.white {
  background-color: #fff;
  padding-top: 8px;
  padding-bottom: 50px;
}

.white- {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.column span-bold {
  font-weight: 600;
}

.container-small-header {
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0;
}
.col-md-3 {
  padding: 10px;
  background-color: #fff;
  margin: 10px;
}
.col-md-3 picture {
  max-width: 10px; /* how do i reduce size of pictures */
}
.retro {
  background-color: #fff;
  padding: 1px 10px;
  margin: 10px 0;
}
/*================================
medium devices (640px or larger)
==================================*/
@media only screen and (min-width: 640px) {
header {text-align: unset;
}
nav {
  width: auto;
  float: right;
  margin-top: 30px
}
.hero {
  padding-top: 100px;
}
body {
  font-size: 18px;
}
.hero span{
  display: block;
  font-size: 22px;
  font-weight: 400;
  width: 400px;
}

.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.button-text {
  padding: 0 10px; /* cant get the text in the middle of the button */
}
a.project-button {
  padding: 119px 0px;
}
.about-hero-text {
  padding: 20px;
}
.main-about-text {
  background-color: #fff;
  padding: 0 30px;
}
.col-md-7 { /*not showing on project carousel slides */
 width: 55%;
}
.col-md-4 {
 width: 40%;
 padding: 0 15px;
 padding-top: 30px;
}
.col-md-6text {
  width: 50%;
  padding-right: 30px;
}
.col-md-3 {
  width: 30%;
}
.retro {
  width: 31%;
  float: left;
  margin: 0 5px; /*how do i get background colour to end on the same line */
}
}

/*================================
large devices (1024px or larger)
==================================*/
@media only screen and (min-width: 1024px) {
.col-md-7 {
  width: 55%;
  padding: 30px;
}
.about-hero-text {
  font-size: 30px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}

/* =========================
x-large devices (1440px or larger)
=================================*/

@media only screen and (min-width: 1440px) {

}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
